* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Rubik', 'Courier New', Courier, monospace, sans-serif;
}

.dark-mode {
  background-color: black;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(0,102,51);
  color: seashell;
  margin: 2rem 2rem 0 2rem;
}

.thremmm {
  color: rgb(204,0,204);
  font-size: 2.5rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 300px;
  font-size: 2.5rem;
}

.login {
  display: flex;
  align-items: center;
  flex-basis: 200px;
  font-weight: 600;
}

.darkToggle {
  margin-right: 2px;
}






