
#search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
    flex:  1 1 auto;
}

input {
    display: inline-flex;
    flex-basis: 600px;
    margin: 0.8rem;
    border-radius: 1rem;
    background-color: white;
    border: none;
    padding: 0.5rem;
}

button {
    font-size: 0.9rem;
    border-radius: 1.5rem;
    height: 2.5rem;
    padding: 4px;
    border: 0.15rem solid purple;
    background-color: seashell;
    cursor: pointer;
}