* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
    flex: 3 auto;
}

input {
    font-size: 2rem;
    margin: 0.8rem;
    border-radius: 1rem;
    width: fit-content;
    border: 0.1rem solid purple;
}

button {
    font-size: 0.8rem;
    border-radius: 1.5rem;
    height: 2.5rem;
    padding: 4px;
    border: 0.1rem solid purple;
    background-color: seashell;
    cursor: pointer;
}