.track {
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 250px;
    margin: 0.8rem 0.8rem 0 0.8rem;
    background-color: blueviolet;
    border-radius: 1rem;
}

.songInfo {
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
    text-align: start;
    padding: 1rem;
}

.addOrRemoveButton {
    display: inline-flex;
    align-items: end;
    padding: 1rem;
}